/* Now I need to drop the constraints and this would shown with different 
tables, this has been referenced from the website below
http://www.w3schools.com/sql/sql_foreignkey.asp */

ALTER TABLE CHANNEL
DROP CONSTRAINT Mult_Id_FK;
/*I was able to delete _PK at the end of Mult_ID and it 
automatically altered this table when compiled*/

ALTER TABLE Person
DROP CONSTRAINT Char_ID_FK;

ALTER TABLE Episode
DROP CONSTRAINT Prog_ID_FK;

/*Note that Tables Character and Season Tables do not have an
Foreign Keys but they do have Primary Keys, as these Drop Constraints are
shown below*/

/*Primary Constraint Drop, I have referenced some of this code from
http://www.w3schools.com/sql/sql_primarykey.asp*/

ALTER TABLE Episode
DROP CONSTRAINT Ep_Id;
/*This drop constraint worked for Episode Table by not implementinh
PK within the syntax and then running the code to alter the table.*/

ALTER TABLE CHANNEL
DROP CONSTRAINT Chan_Id; 

/*This has recognised that the constraint can be drop, but has dropped
already based on running the whole code to drop constraints.
Note, that it has recognised the Chan_Id as a constraint.*/

ALTER TABLE Program
DROP CONSTRAINT Prog_Id;

/*As this is a primary and drop constraint within the table,
I have been able to alter Program and once its ran again, a message
should show up (cannot drop constraint) because this constraint has
been drop once not twice.*/

ALTER TABLE Multiplex
DROP CONSTRAINT Mult_Id;

/*Just like in the Person Drop Constraint, I was able
to remove PK from the Statement and then run the code
to alter the table. Note that both Per_ID and Mult_Id
are constraints, which have been used in the Constraints
Script.*/

SELECT * FROM USER_CONSTRAINTS

ALTER TABLE Person
DROP CONSTRAINT Per_Id;

/*I have removed PK from Per_ID and the constraint
has automatically dropped and is also notified, as Primary
Key without inserting PK to the code above.*/

ALTER TABLE Character
DROP CONSTRAINT Char_ID;
/*I have removed PK from the Char_ID and then ran the
code, this has now dropped constraint on Character Table*/

ALTER TABLE Season
DROP CONSTRAINT Sea_ID;
/*This drop constraint work, as there is no foreign key, only
a primary key is used. Looking back at the Table Script Sea_ID is 
the Season_ID and its is shown when I added data to the table*/
